:root{
    --bg-light-gray: #494949;
    --bg-red: #df3c0a;
    --bg-dark-gray: #333333;
}
.bg-dark{
    --bs-bg-opacity: 1;
    /*background-color: rgba(var(--bg-light-gray), var(--bs-bg-opacity)) !important;*/
    background-color: var(--bg-light-gray)!important; 
}
.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}
/*custom home button*/

@media only screen and (min-width:576px) {
    .nav-item-home{
        background-color: var(--bg-red);
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
    .container-fluid{
      padding: 0 !important;
      margin: 0 !important;
    }
    .navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    /*custom card*/
    .card{
        border: 0;
        border-radius: 0;
    }
    .card-img{
        border:0;
        border-radius: 0;

    }
    .card-img-overlay{
        text-shadow: 5px 4px 8px #000000;
    }
    .row > *{
        padding: 0;
    }
    .list-group{
        border-radius: 0;
        background-color: var(--bg-dark-gray);
    }
    .list-group-item{
        background-color: var(--bg-light-gray);
        color: white;
        flex-grow: 1;
    }

    /*.myimg{
        width: 500px;
        height: 500px;
        border: 3px red solid;
    }
    .contain{
        width: 500px;
        height: 500px;
        object-fit: contain;
    }*/
}
.img-fluid{
    width: 500px;
    height: 150px;
    object-fit: cover;
}